.loginStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #010101;
}

.avatarLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}